.movierow {
    margin-bottom: 2rem;
}

.movierow h2 {
    margin: 0 0 0 2rem;
}

/* Area que define as caracteriscas da lista de filmes */
.movierow--listarea {
    overflow-x: hidden;
    padding-left: 2rem;
}

.movierow--item {
    cursor: pointer;
    display: inline-block;
    width: 150px;
}

.movierow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

/* Cria efeito de zoom na imagem quando passamos o mouse por cima */
.movierow--item img:hover {
    transform: scale(1);
}

.movierow--buttons {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0,0,0,0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease .5s;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.movierow:hover .movierow--buttons{
    opacity: 1;
}

@media (max-width: 760px) {
    .movierow--buttons{
        opacity: 1;
    }
}